In [1]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
grades = {"Atil":50,"James":60,"Lars":30}

In [7]:
pd.Series(grades)

Atil     50
James    60
Lars     30
dtype: int64

In [8]:
#series aslında dataframein tek bir sütunudur.

In [10]:
names = ["Atil","James","Lars"]
grades = [50,60,30]

In [11]:
pd.Series(names)

0     Atil
1    James
2     Lars
dtype: object

In [12]:
pd.Series(grades)

0    50
1    60
2    30
dtype: int64

In [13]:
pd.Series(grades,names)

Atil     50
James    60
Lars     30
dtype: int64

In [14]:
pd.Series(data=grades, index=names)

Atil     50
James    60
Lars     30
dtype: int64

In [15]:
numpy_array = np.array([50,40,30,20])

In [16]:
pd.Series(numpy_array)

0    50
1    40
2    30
3    20
dtype: Int64

In [17]:
#arithmetic

In [18]:
contes_result = pd.Series(data=[10,5,100], index = ["Atil","James","Lars"])

In [19]:
contest_result2 = pd.Series([20,50,10],["Atil","James","Lars"])

In [20]:
contes_result["Atil"]

np.int64(10)

In [21]:
contest_result2["Atil"]

np.int64(20)

In [22]:
final_result = contes_result + contest_result2

In [23]:
final_result

Atil      30
James     55
Lars     110
dtype: int64

In [26]:
#if indices are different, indeksler yani

In [25]:
different_series = pd.Series([20,30,40,50],["a","b","c","d"])

In [27]:
different_series_2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [28]:
different_series + different_series_2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64